html,body {
    height: 100%;
    min-height: 100%;
    padding-top: 2.2rem;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  .nav-link:hover{
    /* border-bottom: 1px solid #17a2b8 !important; */
    background:#17a2b8 !important;
  }

  .font-16 {
    font-size: 16px;
  }

