html,body {
    height: 100%;
    min-height: 100%;
    padding-top: 2.2rem;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  .nav-link:hover{
    /* border-bottom: 1px solid #17a2b8 !important; */
    background:#17a2b8 !important;
  }

  .font-16 {
    font-size: 16px;
  }

  .font-18{
    font-size: 18px;
  }

  .font-bold{
    font-weight: bold;
  }

  .font-13{
    font-size: 13px;
}

.font-14{
  font-size: 14px;
}

  .custom-btn-warning{
    background-color:#ffc107 !important;
    border-color: #ffc107 !important;
  }
  .custom-btn-warning:hover{
    
    color: white;
    border-color: #ffc107 !important;
  }

  .custom-btn-info{
    background-color: #17A2C2 !important;
  }

  .custom-text-info{
    color: #17A2C2!important;
  }

