html,body {
    font-family: "Poppins", "Arial", "Helvetica", sans-serif;
    height: 100%;
    min-height: 100%;
    /* padding-top: 2.3rem; */
    max-width: 100%;
    overflow-x: hidden;
}

i.round-icon{
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0px 0px 2px #000;
    padding: 0.5em 0.6em;
  
  }

.i-am {
    border-top: 3px solid #17a2b8;
}

.font-15 {
    font-size: 16px;
}
  
.font-14 {
    font-size: 16px;
}
.font-13{
    font-size: 13px;
}

.font-18{
    font-size: 18px;
}
  

.border-bottom-3 {
    border-bottom: 3px solid #17a2b8;
  }

.navbar-menu:hover {
    border-bottom: 1px solid #17a2b8;
}

.custom-btn-warning{
    background-color:transparent;
    color: #000;
    border-color: #ffc107 !important;
}
.custom-btn-warning:hover{
    background-color:#ffc107 !important;
    color: white;
    border-color: #ffc107 !important;
}

.custom-btn-info{
    background-color: #17A2C2 !important;
}

.custom-text-info{
    color: #17A2C2!important;
}

.bg-red-light{
    background-color: #f16529 !important;
}
.bg-info-light{
    background-color: #0070BC !important;
}
.bg-purple-light{
    background-color: #5a69a6 !important;
}
.bg-orange-light{
    background-color: #dd8e3a !important;
}
.bg-primary-light{
    background-color: #1169ae !important;
}
.bg-infodeep-light{
    background-color: #00bed6 !important;
}
.bg-dark-light{
    background-color: #333 !important;
}
.bg-orangedeep-light{
    background-color: #E76F0A !important;
}
.bg-purpledeep-light{
    background-color: #c7009a !important;
}
.bg-infooriented-light{
    background-color: #2aa9e0 !important;
}
.bg-success-light{
    background-color: #369750 !important;
}
  